@model Docimax.Interface_ICD.Model.CodeOrderModel
<script type="text/javascript" src="~/Scripts/typeahead.bundle.js"></script>
<script type="text/javascript" src="~/Scripts/handlebars.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<h2>@ViewBag.Title</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<script>
    $(document).ready(function () {
        var remote_diagnosis = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('diagnosis'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/Dictionary/ICD_Diagnosis_Typeahead?queryStr=%QUERY&icdVersionID=1',
                wildcard: '%QUERY'
            },
        });
        remote_diagnosis.initialize();
        $('#diagnosis .typeahead').unbind();
        $('#diagnosis .typeahead').typeahead({ hint: false }, {
            name: 'diagnosis',
            display: 'DisplayText',
            source: remote_diagnosis.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile('<div><strong>{{ICD_Code}}</strong> – {{ICD_Name}}</div>')
            }
        });

        var remote_operates = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('operates'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/Dictionary/ICD_Operate_Typeahead?queryStr=%QUERY',
                wildcard: '%QUERY'
            },
        });
        remote_operates.initialize();
        $('#operate .typeahead').unbind();
        $('#operate .typeahead').typeahead({ hint: false }, {
            name: 'diagnosis',
            display: 'DisplayText',
            source: remote_operates.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile('<div><strong>{{ICD_Code}}</strong> – {{ICD_Name}}</div>')
            }
        });

        $('.accordion-heading').click(function () { $(this).find('span').toggleClass('glyphicon-plus-sign glyphicon-minus') });
    });

    function showPic(el) {
        var picURL = $(el).attr("data-url");
        var contentType = $(el).attr("data-contenttype");
        var newSrc = "@Url.Action("ShowPic", "UploadItem")?picURL=" + picURL + "&contentType=" + contentType;
        $("#pic").attr("src", newSrc);
    };
</script>
@using (Html.BeginForm("Code", "ServiceItem", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CodeOrderID)
    @Html.HiddenFor(model => model.LastModifyStamp, new { @Cache = false })
    @Html.HiddenFor(model => model.CaseNum)
    @Html.HiddenFor(model => model.PickedUserID)
    <div style="display:inline">
        @Html.Label("订单号：", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayTextFor(model => model.PlatformOrderCode)
        @Html.Label("病案号：", htmlAttributes: new { @class = "control-label" })
        @Html.DisplayTextFor(model => model.CaseNum)
        <hr />
    </div>
    <div class="row">
        <div class="col-md-2" style="padding-left:0px;padding-right:0px;display:inline">
            <div class="span3">
                @if (Model != null && Model.ItemList != null)
                {
                    <ul class="nav nav-list">
                        @foreach (var item in Model.ItemList)
                        {
                            <li>
                                @Html.Label(item.ItemName, htmlAttributes: new { @class = "tree-toggle nav-header first-level" })
                                <ul class="nav nav-list tree">
                                    @if (item.ChildrenList != null && item.ChildrenList.Count > 0)
                                    {
                                        foreach (var sunItem in item.ChildrenList)
                                        {
                                            <li class="tree">
                                                @Html.Label(sunItem.ItemName, htmlAttributes: new { @class = "tree-toggle nav-header" })
                                                <ul class="nav nav-list tree">
                                                    @foreach (var file in sunItem.UploadedItemList)
                                                    {
                                                        <li>
                                                            <a style="cursor: pointer;" class="tree-nav-a" data-url="@file.AttachURL" data-contenttype="@file.ContentType" onclick="showPic(this)">@file.AttachFileName</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var file in item.UploadedItemList)
                                        {
                                            <li class="tree">
                                                <a style="cursor: pointer;" class="tree-nav-a" data-url="@file.AttachURL" data-contenttype="@file.ContentType" onclick="showPic(this)">@file.AttachFileName</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
        <div class="col-md-5" style="padding-left:3px;padding-right:3px;display:inline">
            <a href="#" class="bind_hover_card" data-toggle="popover" data-placement="bottom" data-trigger="hover"><img id="pic" src="" width="100%" style="border:1px;" /></a>
        </div>
        <div class="col-md-5" style="padding-top:0px" ng-controller="icdCodeCtrl">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="MRSummery">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseMRSummery" aria-expanded="false" aria-controls="collapseMRSummery">
                            建议诊断和编码
                        </a>
                    </h4>
                </div>
                <div id="collapseMRSummery" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="MRSummery">
                    <div class="panel-body">
                        @Html.Label("主要诊断：", htmlAttributes: new { @class = "control-label" })
                        @{
                            var primaryDiagnosis = Model.DiagnosisCodeResultList.FirstOrDefault(e => e.Index == 0);
                            @Html.Partial("DialogiosPartial", primaryDiagnosis);
                        }
                        @Html.Label("其他诊断：", htmlAttributes: new { @class = "control-label", @style = "margin-top:8px;" })
                        <div class="form-inline" id="subDiagnosis">
                            @Html.Partial("DialogiosesPartial", Model.DiagnosisCodeResultList)
                        </div>
                        @Html.ActionLink("添加其他诊断", "AddDialogios", null, new { id = "addDialogios" })
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="OperationSummery">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOperationSummery" aria-expanded="false" aria-controls="collapseOperationSummery">
                            建议手术和操作编码
                        </a>
                    </h4>
                </div>
                <div id="collapseOperationSummery" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="OperationSummery">
                    <div class="panel-body">
                        <div class="form-inline" id="subOperates" style="margin-top:8px">
                            @Html.Partial("OperatesPartial", Model.OperationCodeResultList)
                        </div>
                        @Html.ActionLink("添加手术或操作", "AddOperate", null, new { id = "addOperate" })
                    </div>
                </div>
            </div>
            <div>
                <div class="col-xs-6">
                    <input type="submit" name="save" id="save" class="btn btn-primary btn-block" value="保存" />
                </div>
                <div class="col-xs-6">
                    <input type="submit" name="submit" id="submit" class="btn btn-primary btn-block" value="提交" />
                </div>
            </div>
        </div>
    </div>
                            }
<div class="row">
    @Html.ActionLink("返回订单列表", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        AddDialogios();
        AddOperate();
    });
    var dialogIndex =@Model.DiagnosisCodeResultList.Count;
    function AddDialogios() {
        $('#addDialogios').unbind('click');
        $("#addDialogios").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                data:{dialogIndex:dialogIndex},
                success: function (html) {
                    dialogIndex++;
                    $("#subDiagnosis").append(html);
                },
                error: function (html) {
                    alert(html);
                }
            });
            return false;
        });
    }

    var operateIndex =@Model.OperationCodeResultList.Count;
    function AddOperate() {
        $('#addOperate').unbind('click');
        $("#addOperate").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                data:{operateIndex:operateIndex},
                success: function (html) {
                    operateIndex++;
                    $("#subOperates").append(html);
                },
                error: function (html) {
                    alert(html);
                }
            });
            return false;
        });
    }
</script>
