@using Docimax.Interface_ICD.Model
@using PagedList.Mvc
@using Docimax.Common

@model ICDPagedList<CodeOrderSearchModel, CodeOrderModel>

@{
    ViewBag.Title = "我的编码订单列表";
}
<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js"></script>
<script type="text/javascript">
    $(function () {
        $('.datepicker').datepicker({ autoclose: true });
    });
</script>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("index", "ServiceItem", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-11">
            <div class="form-inline">
                @Html.TextBoxFor(model => model.TextFilter, new { @class = "form-control", @placeholder = "请输入病案号或平台订单号" })
                @Html.EnumDropDownListFor(model => model.SearchModel.OrderState, "请选择订单状态", new { @class = "form-control" })
                创建时间在 @Html.TextBoxFor(model => model.BeginDate, new { @class = "form-control datepicker ", @Value = Model.BeginDate.ToString("yyyy/MM/dd") })
                和 @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker", @Value = Model.EndDate.ToString("yyyy/MM/dd") })
                之间
            </div>
        </div>
        <div class="pull-right col-lg-1">
            <button class="btn btn-default" type="submit">
                查询
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>
}
<div style="margin-top:17px;">
    @if (Model != null && Model.Content != null)
    {
        var grid = new WebGrid(
                   canPage: true,
                   rowsPerPage: Model.PageSize,
                   canSort: false,
                   ajaxUpdateContainerId: "grid");
        grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);
        @grid.GetHtml(htmlAttributes: new { id = "grid" },
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            mode: WebGridPagerModes.All,
            firstText: "第一页",
            previousText: "上一页",
            nextText: "下一页",
            lastText: "最后一页",
            columns: grid.Columns(
                                   grid.Column("PlatformOrderCode", "订单号", style: "col-lg-2", canSort: false),
                                   grid.Column("ORGName", "订单所属医院", style: "col-lg-4", canSort: false),
                                   grid.Column("OrderStatus", "状态", style: "col-lg-2", canSort: false),
                                   grid.Column("Createtime", header: "创建时间", style: "col-lg-2", format: @<text>@item.Createtime.ToString("yyyy-MM-dd") </text>, canSort: false),
                                   grid.Column(header: "操作", canSort: false, style: "action",
                format: @<text>
                                    <a href="@Url.Action("Detail", "UploadItem", new { orderID = @item.CodeOrderID })" class="btn btn-default">
                                        详情
                                    </a>
                                    @if (item.OrderStatus.GetHashCode() < 10000)
                                    {
                                        <a href="@Url.Action("Code", "ServiceItem", new { orderID = @item.CodeOrderID })" class="btn btn-default">
                                            进行编码
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </a>

                                    }
                </text>)));
    }
    else
    {
        //todo  提示没有数据
    }
</div>
