@model Docimax.Interface_ICD.Model.UploadModel.MedicalRecord_File
<script type="text/javascript" src="~/Scripts/typeahead.bundle.js"></script>
<script type="text/javascript" src="~/Scripts/handlebars.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<h2>@Model.PlatformOrderCode</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
@helper TreeView(List<Docimax.Interface_ICD.Model.UploadModel.Catalog> categoryTree)
{
    foreach (var item in categoryTree)
    {
        <div class="media">
            <a class="media-left" href="#">
                <span class="glyphicon glyphicon-bookmark"></span>
            </a>
            <div class="media-body">
                <h4 class="list-group-item-heading"> @item.CatalogName</h4>
                @foreach (var file in item.CatalogFiles)
                {
                    <a style="cursor: pointer;" data-url="@file.FileURL" data-contenttype="@file.ConentType" onclick="showPic(this)">@file.FileName</a><br />
                }
                @if (item.SubCatalog != null)
                {
                    @TreeView(item.SubCatalog)
                }
            </div>
        </div>
    }
}
<script>
    $(document).ready(function () {
        var remote_diagnosis = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('diagnosis'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/Dictionary/ICD_Diagnosis_Typeahead?queryStr=%QUERY&icdVersionID=1',
                wildcard: '%QUERY'
            },
        });
        remote_diagnosis.initialize();
        $('#diagnosis .typeahead').unbind();
        $('#diagnosis .typeahead').typeahead({ hint: false }, {
            name: 'diagnosis',
            display: 'DisplayText',
            source: remote_diagnosis.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile('<div><strong>{{ICD_Code}}</strong> – {{ICD_Name}}</div>')
            }
        });

        var remote_operates = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('operates'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/Dictionary/ICD_Operate_Typeahead?queryStr=%QUERY',
                wildcard: '%QUERY'
            },
        });
        remote_operates.initialize();
        $('#operate .typeahead').unbind();
        $('#operate .typeahead').typeahead({ hint: false }, {
            name: 'diagnosis',
            display: 'DisplayText',
            source: remote_operates.ttAdapter(),
            templates: {
                suggestion: Handlebars.compile('<div><strong>{{ICD_Code}}</strong> – {{ICD_Name}}</div>')
            }
        });

        $('.accordion-heading').click(function () { $(this).find('span').toggleClass('glyphicon-plus-sign glyphicon-minus') });
    });

    function showPic(el) {
        var picURL = $(el).attr("data-url");
        var contentType = $(el).attr("data-contenttype");
        var newSrc = "@Url.Action("ShowPic", "UploadItem")?picURL=" + picURL + "&contentType=" + contentType;
        $("#pic").attr("src", newSrc);
    };
</script>
@using (Html.BeginForm("InterfaceFileOrdeCode", "ServiceItem", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.CodeOrderID)
    @Html.HiddenFor(model => model.LastModifyStamp)
    <hr />
    <div class="row">
        <div class="col-md-2">
            <ul>
                <li style="display:none"></li>
            </ul>
            @TreeView(Model.Catalogs)
        </div>
        <div class="col-md-5" style="padding-left:3px;padding-right:3px;display:inline">
            <ul>
                <li style="display:none"></li>
            </ul>
            <a href="#" class="bind_hover_card" data-toggle="popover" data-placement="bottom" data-trigger="hover"><img id="pic" src="" width="100%" style="border:1px;" /></a>
        </div>
        <div class="col-md-5" style="padding-top:0px" ng-controller="icdCodeCtrl">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="MRSummery">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" href="#collapseMRSummery" aria-expanded="false" aria-controls="collapseMRSummery">
                            建议诊断和编码
                        </a>
                    </h4>
                </div>
                <div id="collapseMRSummery" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="MRSummery">
                    <div class="panel-body">
                        @Html.Label("主要诊断：", htmlAttributes: new { @class = "control-label" })
                        @{
    var primaryDiagnosis = Model.DiagnosisCodeResultList.FirstOrDefault(e => e.Index == 0);
    @Html.Partial("DialogiosPartial", primaryDiagnosis);
                        }
                        @Html.Label("其他诊断：", htmlAttributes: new { @class = "control-label", @style = "margin-top:8px;" })
                        <div class="form-inline" id="subDiagnosis">
                            @Html.Partial("DialogiosesPartial", Model.DiagnosisCodeResultList)
                        </div>
                        @Html.ActionLink("添加其他诊断", "AddDialogios", null, new { id = "addDialogios" })
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="OperationSummery">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOperationSummery" aria-expanded="false" aria-controls="collapseOperationSummery">
                            建议手术和操作编码
                        </a>
                    </h4>
                </div>
                <div id="collapseOperationSummery" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="OperationSummery">
                    <div class="panel-body">
                        <div class="form-inline" id="subOperates" style="margin-top:8px">
                            @Html.Partial("OperatesPartial", Model.OperationCodeResultList)
                        </div>
                        @Html.ActionLink("添加手术或操作", "AddOperate", null, new { id = "addOperate" })
                    </div>
                </div>
            </div>
            <div>
                <div class="col-xs-6">
                    <input type="submit" name="save" id="save" class="btn btn-primary btn-block" value="保存" />
                </div>
                <div class="col-xs-6">
                    <input type="submit" name="submit" id="submit" class="btn btn-primary btn-block" value="提交" />
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    @Html.ActionLink("返回订单列表", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
    $(document).ready(function () {
        AddDialogios();
        AddOperate();
    });
    var dialogIndex =@Model.DiagnosisCodeResultList.Count;
    function AddDialogios() {
        $('#addDialogios').unbind('click');
        $("#addDialogios").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                data:{dialogIndex:dialogIndex},
                success: function (html) {
                    dialogIndex++;
                    $("#subDiagnosis").append(html);
                },
                error: function (html) {
                    alert(html);
                }
            });
            return false;
        });
    }

    var operateIndex =@Model.OperationCodeResultList.Count;
    function AddOperate() {
        $('#addOperate').unbind('click');
        $("#addOperate").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                data:{operateIndex:operateIndex},
                success: function (html) {
                    operateIndex++;
                    $("#subOperates").append(html);
                },
                error: function (html) {
                    alert(html);
                }
            });
            return false;
        });
    }
</script>
