@model List<Docimax.Interface_ICD.Model.ICDMenu>
<ul class="nav navbar-nav">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.DisplayName, item.ActionName, item.ControllerName)</li>
        }
    }
    else
    {
        <li>@Html.ActionLink("主页", "Index", "Home")</li>
        <li>@Html.ActionLink("关于", "About", "Home")</li>
        <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
    }
    @*通过身份验证并确认用户属于Admin角色显示管理菜单*@
    @if (Request.IsAuthenticated && User.IsInRole("DocimaxAdmins"))
    {
        <li>@Html.ActionLink("实名认证管理", "Index", "ManageUserService")</li>
        <li>@Html.ActionLink("用户管理", "Index", "UsersAdmin")</li>
        <li>@Html.ActionLink("角色管理", "Index", "RoleAdmin")</li>
    }
</ul>

