@{
    ViewBag.Title = "icd编码详情";
}
@model Docimax.Interface_ICD.Model.ICDModel
@if (Model != null)
{
    @Html.HiddenFor(model => model.ICDID);
    @Html.HiddenFor(model => model.ICDType);
    <h2>@Model.DisplayText</h2>
    <div class="row">
        @if (!string.IsNullOrWhiteSpace(Model.ICD_Description))
        {
            <div class="col-md-11">
                @Html.Label("摘要：", htmlAttributes: new { @class = "control-label" }) @Model.ICD_Description
            </div>
            <div class="col-md-1">
                <input id="btnSummary" type="button" class="btn btn-default" value="编辑" />
            </div>
        }
        else
        {
            <div class="col-md-11">
                @Html.Label("摘要：", htmlAttributes: new { @class = "control-label" })   暂无摘要
            </div>
            <div class="col-md-1">
                <input id="btnSummary" type="button" class="btn btn-primary" value="添加摘要" />
            </div>
        }

    </div>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="DetailDescription">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseDetailDescription" aria-expanded="true" aria-controls="collapseDetailDescription">
                    详细描述
                </a>
            </h4>
        </div>
        <div id="collapseDetailDescription" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="DetailDescription">
            <div class="panel-body">
                @if (!string.IsNullOrWhiteSpace(Model.DetialDescription))
                {
                    <div class="col-md-11">
                        @Model.DetialDescription
                    </div>
                    <div class="col-md-1">
                        @*<input type="button" class="btn btn-primary" value="去添加" />*@
                    </div>
                }
                else
                {
                    <div class="col-md-11">
                        暂无详细描述
                    </div>
                    <div class="col-md-1">
                        @*<input type="button" class="btn btn-primary" value="去添加" />*@
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="Datalink">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseDatalink" aria-expanded="true" aria-controls="collapseDatalink">
                    资料链接
                </a>
            </h4>
        </div>
        <div id="collapseDatalink" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Datalink">
            <div class="panel-body">
                @if (Model.DataLinks != null && Model.DataLinks.Count > 0)
                {
                    <div>@Model.DetialDescription</div>
                }
                else
                {
                    <div class="col-md-11">
                        暂无资料链接
                    </div>
                    <div class="col-md-1">
                        @*<input type="button" class="btn btn-primary" value="去添加" />*@
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="editLog">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseEditLog" aria-expanded="false" aria-controls="collapseEditLog">
                    编辑记录
                </a>
            </h4>
        </div>
        <div id="collapseEditLog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="editLog">
            <div class="panel-body">
                @if (Model.OperateLogs != null && Model.OperateLogs.Count > 0)
                {
                    <div>@Model.OperateLogs</div>
                }
                else
                {
                    <div class="col-md-12">
                        暂无编辑记录
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <h2>未找到相关记录</h2>
}
<div class="modal  fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="LoginModalView" class="modal-content">

        </div>
    </div>
</div>
<script type="text/javascript">
    $('#btnSummary').click(function () {
        $.ajax({
            url: '@Url.Action("CanEdit", "Home")',
            datatype: "text",
            type: "post",
            success: function (data) {
                if (true != data) {
                    $.ajax({
                        url: '@Url.Action("ModalRegister", "Account")',
                        datatype: "text",
                        type: "get",
                        data: {
                            returnUrl: ""
                        },
                        success: function (loginView) {
                            $('#LoginModalView').html(loginView);
                        }
                    });
                    $("#LoginModal").modal('show');
                }
            }
        });
    });
</script>
