@{
    ViewBag.Title = "icd编码详情";
}
@model Docimax.Interface_ICD.Model.ICDModel
@if (Model != null)
{
    @Html.HiddenFor(model => model.ICDID);
    @Html.HiddenFor(model => model.ICDType);
    @Html.HiddenFor(model => model.LastModifyStamp);
    <h4>@Model.DisplayText</h4>
    <form class="form-horizontal" role="form" id="form_Summary">
        <div class="form-group">
            @Html.AntiForgeryToken()
            @if (!string.IsNullOrWhiteSpace(Model.ICD_Description))
            {
                <div class="col-md-11" id="summaryDiv">
                    @Model.ICD_Description
                </div>
                <div class="col-md-1">
                    <input id="btnSummary" type="button" class="btn btn-primary" value="编辑摘要" />
                </div>
            }
            else
            {
                <div class="col-sm-11" id="summaryDiv">
                    <p>暂无摘要</p>
                </div>
                <div class="col-sm-1">
                    <input id="btnSummary" type="button" class="btn btn-primary" value="添加摘要" />
                </div>
            }
        </div>
    </form>
    <hr />
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="DetailDescription">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseDetailDescription" aria-expanded="true" aria-controls="collapseDetailDescription">
                    详细描述
                </a>
            </h4>
        </div>
        <div id="collapseDetailDescription" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="DetailDescription">
            <div class="panel-body">
                @if (!string.IsNullOrWhiteSpace(Model.DetialDescription))
                {
                    <div class="col-md-10">
                        @Model.DetialDescription
                    </div>
                    <div class="col-md-1">
                        @*<input type="button" class="btn btn-primary" value="去添加" />*@
                    </div>
                }
                else
                {
                    <div class="col-md-10">
                        暂无详细描述
                    </div>
                    <div class="col-md-1">
                        @*<input type="button" class="btn btn-primary" value="去添加" />*@
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="Datalink">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseDatalink" aria-expanded="true" aria-controls="collapseDatalink">
                    资料链接
                </a>
            </h4>
        </div>
        <div id="collapseDatalink" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Datalink">
            <div class="panel-body">
                @if (Model.DataLinks != null && Model.DataLinks.Count > 0)
                {
                    <div>@Model.DetialDescription</div>
                }
                else
                {
                    <div class="col-md-11">
                        暂无资料链接
                    </div>
                    <div class="col-md-1">
                        @*<input type="button" class="btn btn-primary" value="去添加" />*@
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="editLog">
            <h4 class="panel-title">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseEditLog" aria-expanded="false" aria-controls="collapseEditLog">
                    编辑记录
                </a>
            </h4>
        </div>
        <div id="collapseEditLog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="editLog">
            <div class="panel-body">
                @if (Model.OperateLogs != null && Model.OperateLogs.Count > 0)
                {
                    <div>@Model.OperateLogs</div>
                }
                else
                {
                    <div class="col-md-12">
                        暂无编辑记录
                    </div>
                }
            </div>
        </div>
    </div>
}
else
{
    <h2>未找到相关记录</h2>
}
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div id="LoginModalView" class="modal-content">

        </div>
    </div>
</div>
<script type="text/javascript">
    var isSummaryEdite = false;
    var summaryText= '@Html.TextBoxFor(e => e.ICD_Description,
    new { @class = " form-control",
          @placeholder = "摘要信息",
          @style = "max-width:100%"
    })';
    var summaryValue='@Model.ICD_Description';
    var summaryStamp='@Model.LastModifyStamp';
    $('#btnSummary').click(function () {
        if (!isSummaryEdite) {
            $.ajax({
                url: '@Url.Action("CanEdit", "Home")',
                datatype: "text",
                type: "post",
                success: function (data) {
                    if ('true' != data) {
                        $.ajax({
                            url: '@Url.Action("ModalRegister", "Account")',
                            datatype: "text",
                            type: "get",
                            async: true,
                            data: {
                                returnUrl: GetUrlRelativePath()
                            },
                            success: function (loginView) {
                                $('#LoginModalView').html(loginView);
                                $("#LoginModal").modal('show');
                            }
                        });
                    }
                    else {
                        $('#summaryDiv').html(summaryText);
                        $('#ICD_Description').val(summaryValue);
                        $('#btnSummary').val("保存摘要");
                        isSummaryEdite = true;
                    }
                }
            });
        }
        else {
            $.ajax({
                url: '@Url.Action("UpdateICDSummary", "ICD")',
                datatype: "text",
                type: "post",
                data: {
                    ICDType: '@Model.ICDType',
                    ICDID:@Model.ICDID,
                    ICD_Description: $("#ICD_Description").val(),
                    LastModifyStamp:summaryStamp,
                },
                success: function (data) {
                    if (data.IsSuccess) {
                        summaryValue= $("#ICD_Description").val();
                        $('#summaryDiv').html(summaryValue);
                        summaryStamp=data.TResult;
                        $("#btnSummary").val("编辑摘要");
                        isSummaryEdite = false;
                    }
                    else {
                        showError(data.ErrorStr);
                    }
                }
            });
        }
    });
    function GetUrlRelativePath() {
        var url = document.location.toString();
        var arrUrl = url.split("//");
        var start = arrUrl[1].indexOf("/");
        var relUrl = arrUrl[1].substring(start);
        return relUrl;
    }

    function reposition() {
        var modal = $(this),
            dialog = modal.find('.modal-dialog');
        modal.css('display', 'block');
        dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 3));
        dialog.css("max-width", '460px');
    }

    $('.modal').on('show.bs.modal', reposition);

    $(window).on('resize', function () {
        $('.modal:visible').each(reposition);
    });

    var timer = null;
</script>
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/sitePubJS")