@using Docimax.Interface_ICD.Model
@using PagedList.Mvc
@using Docimax.Common
@using Docimax.Interface_ICD.Enum

@model ICDPagedList<CodeSearchModel, ICDModel>
@{
    ViewBag.Title = "icd字典查询";
}
<script type="text/javascript" src="~/Scripts/typeahead.bundle.js"></script>
<script type="text/javascript" src="~/Scripts/handlebars.js"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        listenRadioIdClick();
        $("input[name='id']:first").trigger('click');

        $('.form-control.icd').typeahead({
            hint:false,
            highlight: false,
        },
        {
            name: 'icdSuggestion',
            display: 'DisplayText',
            source: function (query, syncResults, asyncResults) {
                var icdVersionID = $('#SearchModel_IcdVersionID').val();
                $.post('/Dictionary/ICD_Diagnosis_Typeahead', { queryStr: query, icdVersionID: icdVersionID }, function (data) {
                    asyncResults(data)
                });
            },
            templates: {
                suggestion: Handlebars.compile('<div><strong>{{ICD_Code}}</strong> – {{ICD_Name}}</div>')
            }
        });

        function listenRadioIdClick() {
            var ddlProbeUrl = '@Url.Action("DropDownParial")';
            $("input[name='SearchModel.ICDType']").click(function () {
                var id = $(this).val();
                $.get(ddlProbeUrl, { icdType: id, dropDownListName: "SearchModel.IcdVersionID" }, function (data) {
                    $("#SearchModel_IcdVersionID").replaceWith(data);;
                });
            });
        }
    });
</script>
<h4>@ViewBag.Title</h4>
<hr />
@using (Html.BeginForm("Tools", "Home", FormMethod.Get))
{
    <div class="row">
        <div class="col-sm-11">
            <div class="form-inline">
                <div class="radio">
                    <label style="font-size:16px;">
                        @Html.RadioButtonFor(model => model.SearchModel.ICDType, ICDTypeEnum.诊断编码, new { }) @ICDTypeEnum.诊断编码.ToString()
                    </label>
                </div>
                <div class="radio">
                    <label style="font-size:16px;">
                        @Html.RadioButtonFor(model => model.SearchModel.ICDType, ICDTypeEnum.手术及操作编码, new { })@ICDTypeEnum.手术及操作编码.ToString()
                    </label>
                </div>
                @Html.DropDownListFor(model => model.SearchModel.IcdVersionID, (IEnumerable<SelectListItem>)ViewData["IcdVersion"], new { @class = "form-control" })
                @Html.TextBoxFor(model => model.TextFilter, new { @class = "form-control icd", @placeholder = "请输入名称、拼音简码或编码" })
                小提示：多个关键字可以空格分开，会有意外的效果哦 例如：<mark>急性 甲型 肝炎</mark>
            </div>
        </div>
        <div class="pull-right col-lg-1">
            <button class="btn btn-default" type="button" onclick="search(1);">
                查询
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>
}
<div style="margin-top:17px;" id="ICDResult">
</div>
<!--page start-->
<div class="row">
    <div class="col-md-12" style="margin-top:0px;">
        <input type="hidden" value="@Model.PageScript" id="pagelist" />
        <div class="pull-right" id="pageManage">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
     小广告：如果您有病案管理的相关需求，请联系400-690-0167或者销售张经理 13810146611
    </div>
</div>
<!--page end-->

<script type="text/javascript">
    function search(pageIndex) {
        //分页参数
        var PageSize = 10;
        $.ajax({
            url: '@Url.Action("_Tools", "Home")',
            data: {
                PageSize: PageSize,
                PageIndex: pageIndex,
                TextFilter: $("#TextFilter").val(),
                SearchModel: { IcdVersionID: $('#SearchModel_IcdVersionID').val(), ICDType: $("input[name='SearchModel.ICDType']").val() }
            },
            datatype: "text",
            type: "post",
            success: function (data) {
                $("#ICDResult").html(data);
                var aa = $("#pagelist").val();
                $("#pageManage").html(aa);
            }
        });
    }
</script>
