@using Docimax.Interface_ICD.Model
@model ICDPagedList<CodeOrderSearchModel, CodeOrderModel>

@{
    ViewBag.Title = "编码抢单列表";
}
<h2>@ViewBag.Title</h2>
<div style="margin-top:17px;">
    @if (Model != null && Model.Content != null)
    {
        var grid = new WebGrid(
                   canPage: true,
                   rowsPerPage: Model.PageSize,
                   canSort: true,
                   ajaxUpdateContainerId: "grid");

        grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: false);
        grid.Pager(WebGridPagerModes.All);

        @grid.GetHtml(htmlAttributes: new { id = "grid" },   // id for ajaxUpdateContainerId parameter
            fillEmptyRows: false,
            tableStyle: "table table-bordered table-hover",
            firstText: "第一页",
            previousText: "上一页",
            nextText: "下一页",
            lastText: "最后一页",
            mode: WebGridPagerModes.All,
            columns: grid.Columns(
                                 grid.Column("PlatformOrderCode", "订单号", style: "col-lg-3", canSort: false),
                                 grid.Column("ORGName", "订单所属医院", style: "col-lg-4", canSort: false),
                                 grid.Column("Createtime", header: "创建时间", format: @<text>@item.Createtime.ToString("yyyy-MM-dd") </text>, canSort: false),
                                 grid.Column(header: "操作", canSort: false, style: "action",
                format: @<text>
                                    <a href="@Url.Action("Claim", "UnRobItem", new { orderID = @item.CodeOrderID, stamp = @item.LastModifyStamp })" class="btn btn-default">
                                        领单
                                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    </a>
                </text>)));
    }
    else
    {
        //todo  提示没有数据
    }
</div>

