<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 51ICD</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("51ICD", "Index", "Home", new { area = "" }, new { @class = "navbar-brand first-menu" })
            </div>
            <div class="navbar-collapse collapse">
                @{Html.RenderAction("MenuList", "Account");}
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <div>
                <p>
                    Copyright &copy; @DateTime.Now.Year 北京影研创新科技发展有限公司
                </p>
                <p>
                    京ICP备12045562号 京公网安备110105008151号
                </p>
            </div>

        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
