<!DOCTYPE html>
<html ng-app="icdApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name=viewport content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="51icd,ICD,ICD编码,ICD-9,ICD-10,ICD编码">
    <meta name="description" content="51icd-专业的编码平台">
    <title>@ViewBag.Title - 51ICD</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <!--[if lte IE 7]>
          <script>location.href='http://www.51icd.com/upgrade-your-browser.html'</script>
    <![endif]-->

</head>
<body>
    <nav class="navbar navbar-default icd" role="navigation">
        <div class="container-fluid icd">
            @{Html.RenderAction("MenuList", "Account");}
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <div>
                <p>
                    Copyright &copy; @DateTime.Now.Year 北京影研创新科技发展有限公司
                </p>
                <p>
                    京ICP备12045562号 京公网安备110105008151号
                </p>
            </div>

        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
