@model Docimax.Web_ICD.Models.VerifyIdentityViewModel
@{
    ViewBag.Title = "实名认证";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("VerifyIdentity", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.RealName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RealName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RealName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.IDCardNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.IDCardNo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.IDCardNo, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.BankCardNO, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.BankCardNO, new { htmlAttributes = new { @class = "form-control", @id = "bankCard" } })
            @Html.ValidationMessageFor(model => model.BankCardNO, "", new { @class = "text-danger" })
            <p class="help-block">您的收益将会定期汇入该卡中，请务必保证输入准确.</p>
        </div>
    </div>

    <div class="form-group">
        @Html.Label("身份证正面照", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="IDCardfront" name="IDCardfront" accept=".jpg,jpeg,.jpe,.jp2,.png,.gif" multiple />
        </div>
        <div class="col-md-10">
            <p class="help-block">身份证正面照，请保证各信息清晰可读.</p>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("身份证背面照", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="IDCardback" name="IDCardback" accept=".jpg,jpeg,.jpe,.jp2,.png,.gif" multiple />
        </div>
        <div class="col-md-10">
            <p class="help-block">身份证背面照，请保证各信息清晰可读.</p>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("银行卡", new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" id="bankCard" name="bankCard" accept=".jpg,jpeg,.jpe,.jp2,.png,.gif" multiple />
        </div>
        <div class="col-md-10">
            <p class="help-block">银行卡照片，请与填写的银行卡号一直并保证各信息清晰可读.后期收益将自动转入该卡片</p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="申请" class="btn btn-default" />
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#bankCard").on("keyup", formatBC);

        function formatBC(e) {
            var self = $.trim(e.target.value);
            var temp = this.value.replace(/\D/g, '').replace(/(....)(?=.)/g, '$1 ');
            if (self.length > 23) {
                this.value = self.substr(0, 23);
                return this.value;
            }
            if (temp != this.value) {
                this.value = temp;
            }
        }
    })
</script>

<div>
    @Html.ActionLink("返回", "Index")
</div>
