@using Docimax.Common_ICD.Dictionary
@model Docimax.Interface_ICD.Model.UserServiceApplyModel

<h2><small>申请开通</small>@ViewBag.Title<small>服务</small></h2>
<hr />
@using (Html.BeginForm("ServiceApplyDetail", "Service", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @for (int i = 0; i < Model.Service.ServiceClaims.Count; i++)
        {
            <div class="form-group">
                <div>
                    @Html.LabelForModel(Model.Service.ServiceClaims[i].ClaimType.ToString(), new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-5">
                    @{
            var tempCliamValues = ICDSelectList.ServiceClaims(Model.Service.ServiceClaims[i].ClaimType).ToList();
            for (int j = 0; j < tempCliamValues.Count(); j++)
            {
                <div class="radio">
                    <label style="font-size:16px;">
                        @Html.RadioButtonFor(model => model.Service.ServiceClaims[i].ClaimValue, tempCliamValues[j].Value)
                        @tempCliamValues[j].Text
                    </label>
                </div>
            }
                    }
                </div>
            </div>
        }
        @for (int i = 0; i < Model.Service.ServiceAttaches.Count; i++)
        {
            <div class="form-group">
                <div>
                    @Html.LabelForModel(Model.Service.ServiceAttaches[i].AttachType.ToString(), new { @class = "col-md-2 control-label" })
                </div>
                <div class="col-md-5">
                    <input type="file" d=@Model.Service.ServiceAttaches[i].AttachType.GetHashCode() name=@Model.Service.ServiceAttaches[i].AttachType.GetHashCode() accept=".jpg,jpeg,.jpe,.jp2" multiple class="form-control" />
                </div>
            </div>
        }
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="提交" name="submit" id="submit" class=" btn btn-primary" />
        </div>
    </div>
}
