@using Docimax.Common_ICD.Dictionary
@model Docimax.Interface_ICD.Model.ServiceModel
@{
    ViewBag.Title = "申请开通服务";
}

<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("ServiceApplyDetail", "Service", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div>
            @Html.LabelForModel("申请服务：", new { @class = "col-md-2 control-label" })
        </div>
        <div class="col-md-5">
            @for (int i = 0; i < ICDSelectList.AvailableServices.Count(); i++)
            {
                <div class="radio">
                    <label style="font-size:16px;">
                        @Html.RadioButtonFor(model => model.ServiceID, ICDSelectList.AvailableServices.ToArray()[i].Value)
                        @ICDSelectList.AvailableServices.ToArray()[i].Text
                    </label>
                </div>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="提交" name="submit" id="submit" class=" btn btn-primary" />
        </div>
    </div>
}
