@model Docimax.Interface_ICD.Model.CodeOrderModel

@{
    ViewBag.Title = "编码订单详情";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastModifyUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModifyUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodeOrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeOrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlatformOrderCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlatformOrderCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaseNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaseNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGSubName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGSubName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ORGSubID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ORGSubID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
